{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="registrationForm " >

<h2 class="text-center" >Register</h2>
	
	{% include "FOSUserBundle:Registration:register_content.html.twig" %}

</div>
{% endblock fos_user_content %}
