{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="registrationForm  " >
<h2 class="text-center" >Reset Request</h2>
<div class="rowDivider" ></div>
{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
</div>
{% endblock fos_user_content %}
